:root {
  --color-primary: #B53324;
  --color-secondary: #e5a657;
  --color-background: #f5e2ce;
  --color-text: #782a04;

  --font-primary: 'Satoshi', sans-serif;

  
}

/*           MODE SOMBRE           */

.app.dark {
  --color-primary: #e5a657;
  --color-secondary: #782a04;
  --color-background: #181717;
  --color-text: #f5e2ce;
}

html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
}
